{% extends "base.html" %}
{% block pagebody %}
    <div align="center">
      <h4>工时信息录入</h4>
      <form action="{% url 'gstj_doinput' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <label>所属部门:&emsp;&emsp;</label><input type="text" name="group" disabled="disabled" value='{{ login_user.group }}' /></br>
        <label>工作类型:&emsp;&emsp;</label><select name="type">{% for i in typelist %}<option value ="{{ i }}">{{ i }}</option>{% endfor %}</select></br>
        <label>所属项目:&emsp;&emsp;</label><select name="project">{% for i in projectlist %}<option value ="{{ i }}">{{ i }}</option>{% endfor %}</select></br>
        <label>完成状态:&emsp;&emsp;</label><select name="status">{% for i in statuslist %}<option value ="{{ i }}">{{ i }}</option>{% endfor %}</select></br>
        <label>PMS/BUG:&emsp;&emsp;</label><input type="text" name="taskid" /></br>
        <label>耗用时间:&emsp;&emsp;</label><input type="text" name="usedtime" /></br>
        <label>文档链接:&emsp;&emsp;</label><input type="text" name="link" /></br>
        <label>工作内容:</label></br><textarea rows="5" cols="35" name="detail" placeholder="type detail here..."></textarea></br>
        <input type='hidden' name='name' value='{{ login_user.name }}' />
        <p><input type="submit" value="保存" /></p>
      </form>
	本月已录入总工时：<font color='red'>{{ recorded }}</font>，本月应录入工时{{ suppose }}
    </div>
</body>
{% endblock %}
